
.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}
.anchor2 {
  display: block;
  position: relative;
  top: 0px;
  visibility: hidden;
}
.player-wrapper {
  position: relative;
  padding-top: 56.50%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.darkLayer {
  background: rgba(0, 0, 0, 0.30);
}

.isParagraph{
  margin: 30px 0;
}
.listnotnumber{
  list-style-type: none;
}