
.taronja{
  color: #EF7D55!important
}

.gradientTaronja{
  background : linear-gradient(90.07deg, #FF4D00 0.1%, rgba(255, 77, 0, 0) 99.98%);
}

.strokeText{
  color: #ED6E34;
  opacity: 0.5;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ED6E34;
}

.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}
.anchor2 {
  display: block;
  position: relative;
  top: 0px;
  visibility: hidden;
}
.player-wrapper {
  position: relative;
  padding-top: 56.50%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.selected{
  background-color: #979797!important;
  color: #fff!important;
}

.buttonSelected{
  background-color: #FF4D00!important;
  color: #fff!important;
  border-color: #FF4D00!important;
}

.darkLayer {
  background: rgba(0, 0, 0, 0.30);
}