* {
  box-sizing: border-box;
}

.menu-item:hover, .menu-item-active{
  color:#663b30!important;
}
.anchor {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}
.isParagraph{
  margin: 30px 0;
}
.listnotnumber{
  list-style-type: none;
}

.link{
  color:#663b30!important;
  text-decoration: underline!important;
}